OPENAI_API_KEY="sk-proj-"
USE_REALTIME="true"                        
REALTIME_MODEL="gpt-4o-realtime-preview-2024-10-01"
REALTIME_VOICE="alloy"
OPENAI_MODEL="gpt-4o-mini"                
SYSTEM_PROMPT="Tu es un assistant téléphonique utile, concis et professionnel."
SPEECH_LANGUAGE="fr-FR"
TWILIO_VOICE="alice"
VERIFY_TWILIO_SIGNATURE="false"          
TWILIO_AUTH_TOKEN="fb6xxxxxxx"
PUBLIC_BASE_URL="https://1b450e18dcbd.ngrok-free.app"
REDIS_URL="redis://127.0.0.1:6379/0"
HMAC_SECRET="xxxx"
